# binaries
bf-cc
bf_cc
bfcc
bf-cc-test
bfcc-test
bf_cc_test
bfcc_test

# object and local brainfuck files
*.o
*.b
!t/*.b

# zig build stuff
zig-cache
.zig-cache
zig-out

# others
.dir-locals.el
.gdb_history